
<ul class="route-link" *ngIf="!hideRouteLink">
  <li><a (click)="hideRouteLink = true" routerLink="/m-time-frame/d" routerLinkActive="active">Multiple Time Frame (Day)</a></li>
  <li><a (click)="hideRouteLink = true" routerLink="/m-time-frame/w" routerLinkActive="active">Multiple Time Frame (Week)</a></li>
  <li><a (click)="hideRouteLink = true" routerLink="/chart-watch-list" routerLinkActive="active">Watch multiple coins</a></li>
  <li><a (click)="hideRouteLink = true" routerLink="/wallet" routerLinkActive="active">Wallet</a></li>
</ul>

<router-outlet></router-outlet>
