<mat-form-field appearance="fill" color="primary" floatLabel="always" appControlValueAccessor #controlValueAccessor="baseControlValueAccessor" >
  <mat-label>{{label}}</mat-label>
  <label>
    <input matInput placeholder="{{placeHolder}}" [(ngModel)]="controlValueAccessor.controlValue">
  </label>
</mat-form-field>


<!--   READ ME   -->
<!--Example use it-->
<!--3 options: -->
<!--ngModel, -->
<!--[formControl], -->
<!--formControlName-->

<!--<app-custom-input label="Coin name"-->
<!--                  placeHolder="Coin name"-->
<!--                  [(ngModel)]="coinName"-->
<!--&gt;</app-custom-input>-->


<!--<app-custom-input label="Coin name"-->
<!--                  placeHolder="Coin name"-->
<!--                  [formControl]="formControl"-->
<!--&gt;</app-custom-input>-->

<!--ngDefaultControl-->

<!--<form [formGroup]="form">-->
<!--  <app-custom-input label="Coin name"-->
<!--                    placeHolder="Coin name"-->
<!--                    formControlName="formControlTest"-->
<!--  ></app-custom-input>-->
<!--</form>-->
